<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/styles.css">
    <title>Albums</title>
</head>

<body>
    <h1>Photos in {{album.name}} ({{photos.length}} photos)</h1>

    {{#if photos.length}}
    <ul>
        {{#each photos}}
        <li>
            <a href="/photos/{{this._id}}">{{this.title}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No photos found in this album.</p>
    {{/if}}

    <p><a href="/">← Back to Albums</a></p>
</body>

</html>